<!DOCTYPE html>
<html lang="en">
<head><title>{% block title %}YawnNeko{% endblock %}</title>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/home-min.css" />
</head>
<body>

<header class="navbar">
  {% include "common/header.html" %}
</header>

<div class="container">

{% block content %}
{% endblock %}

</div><!--container-->

<footer class="footer">
  <div>&copy {% now "Y" %} YawnNeko</div>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/lib/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/neko-min.js"></script>
</body>
</html>
