<!DOCTYPE html>
<html lang="en">
<head><title>{% block title %}YawnNeko{% endblock %}</title>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
</head>
<body>

<header class="navbar">
  <div class="navbar-inner">
    <h1>Nyan Page</h1>
  </div>
</header>

<div id="container">

{% block content %}
{% endblock %}

</div><!--container-->

<footer class="footer">
&copy {% now "Y" %} YawnNeko
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>
</body>
</html>
