{% extends "base.html" %}

{% block title %}YawnNeko - Cats{% endblock %}

{% block content %}

<div id="content">

  <section class="cat">

    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Select your cat
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#cat1">cat1</a></li>
        <li><a href="#cat2">cat2</a></li>
        <li><a href="#cat3">cat3</a></li>
        <li><a href="#cat4">cat4</a></li>
      </ul>
    </div>

    <div id="catphoto">
      <span class="cat1"></span>
    </div>
    <div class="color_label"></div>
  </section>

  <section class="colors">

    <div class="tabs">
      <ul>
        <li id="tab1" class="current">Shirt</li>
        <li id="tab2">Tie</li>
      </ul>
    </div>
    <div class="tabscontent">
      <div class="tabcontent">
        {% for row in colors %}
          <ul>
          {% for color, name in row.items %}
            <li id="{{ color }}">{{ name }}</li>
          {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div><!--tabscontent-->
  </section>
</div><!--home-->
{% endblock %}
