{% extends "base.html" %}

{% block title %}YawnNeko - Cats{% endblock %}

{% block content %}

  <section class="cat">

    <div id="catphoto">
      <span class="cat_bg">
      <img src="{{ STATIC_URL }}images/cat_final.png" alt="Cute Cat" height="150" width="130" style="margin-left:-2px"/>
      <div id="tie_block">
        <span class="tie_top_outer outer"></span>
        <span class="tie_center_outer outer"></span>
        <span class="tie_bottom_outer outer"></span>
        <span class="tie_top"></span>
        <span class="tie_center"></span>
        <span class="tie_bottom"></span>
      </div>
      </span>
    </div>
    <div class="color_label">
      <div>Shirt<h4><span class="shirt">Black</span></h4></div>
      <div>Tie<h4><span class="tie">White</span></h4></div>
    </div>

  </section>
  <section class="colors">

    <div class="tab_buttons" data-role="controlgroup" data-type="horizontal" data-mini="true">
      <input type="radio" id="radio_shirt" name="radio-tab" value="shirt" checked="checked" />
      <label class="shirt" for="radio_shirt">Shirt</label>
      <input type="radio" id="radio_tie" name="radio-tab" value="tie" />
      <label class="tie" for="radio_tie">Tie</label>
    </div>

    <div class="tabscontent">
        {% for row in colors %}
          <div>
          {% for color, name in row.items %}
            <div id="{{ color }}" data-name="{{ name }}">
              <span class="c" style="background-color:{{ color }}"></span>
            </div>
          {% endfor %}
          </div>
        {% endfor %}
    </div><!--tabscontent-->
{% comment %}comment out for now
  {% include "common/google_plus_button.html" %}
{% endcomment %}
  </section>
{% endblock %}
