body { background-color:#F0F8FF; }
a { text-decoration:none; }
ul { margin:0; }
li { list-style:none; }

#container {}

header {}

#content { width:950px; min-height:550px; margin-left:auto; margin-right:auto; background-color:#fff; margin-bottom:18px; border-radius:5px; box-shadow:0 0 20px #ccc; }

.tabs { height:24px; border-bottom:1px solid #f1f1f1; margin-right:4px; }
.tabs ul li { float:left; width:50px; text-align:center; padding:3px 5px; border:1px solid #e1e1e1; border-top-right-radius:8px; border-bottom:none; }
.tabs ul li.current { font-weight:bold; border-bottom:1px solid #fff; }
#content .tabscontent { clear:both; padding-left:10px; padding-bottom:10px; box-shadow:10px 15px 10px #808080; }
#content .tabscontent { border:1px solid #e1e1e1;border-top:none; border-top-right-radius:7px; border-bottom-left-radius:7px; border-bottom-right-radius:7px; /*margin-top:-1px;*/ }
#content .tabcontent ul li { position:relative; display:inline-block; min-width:50px; height:30px; padding:5px 5px 5px 0; font-size:8px; }
#content .tabcontent ul li { visibility:hidden; }
#content .tabcontent ul li:hover { visibility:visible; /*background-color:#F5F5DC;*/ }
#content .tabcontent span.c { visibility:visible; position:absolute; bottom:0; left:0; width:30px; height:20px; box-shadow:2px 2px 2px #808080; }
#content .tabcontent ul li.selected span.c { box-shadow:4px 4px 4px #606060; width:33px; height:22px; }


#content { padding:25px; }
#content section { float:left; }
#content .cat { width:300px; margin-right:25px; }
#content .colors { }


/* Cat Photo */
#catphoto { margin-top:10px; }
#catphoto span.shirt { width:130px; height:130px; display:block; padding:20px 50px; }
#catphoto span.tie { width:130px; height:30px; display:block; padding:0px 50px; } /* class name TODO */
#catphoto .cat1 { background:url('/static/images/cat.gif') no-repeat center; }
#catphoto .cat2 { background:url('/static/images/cat2.gif') no-repeat center; }
#catphoto .cat3 { background:url('/static/images/cat3.gif') no-repeat center; }
#catphoto .cat4 { background:url('/static/images/cat4.gif') no-repeat center; }

/* Shirt & Tie */
#shirt_block, #tie_block { position:relative; }
#shirt_block span, #tie_block span { position:absolute; border-style:solid; }
#shirt_block .shirt_top { width:40px; border-width:0 20px 30px 20px; border-color:#000 transparent; }
#shirt_block .shirt_bottom { top:30px; width:30px; border-width:80px 25px 0 25px; border-color:#000 transparent; }
#tie_block { left:30px; }
#tie_block .tie_top { width:10px; border-width:10px 5px 0 5px; border-color:#ddd transparent transparent transparent; }
#tie_block .tie_center { width:10px; height:10px; border-width:0 5px 50px 5px; border-color:transparent transparent #ddd transparent; }
#tie_block .tie_bottom { top:60px; border-width:10px 10px 0 10px; border-color:#ddd transparent transparent transparent; }

/* Color Labels */
.cat .color_label { font-size:11px; }
.cat .color_label span { display:inline-block; width:60px; height:20px; font-style:italic; }

footer { clear:left; display:block; padding: 30px 50px; background-color:#f7f7f7; }

/*bootstrap override*/
header .navbar-inner { border-radius:0; }