a { text-decoration:none; }
ul { margin:0; }
li { list-style:none; }

#container { width:950px; min-height:550px; }

header {}

.tabs ul li { float:left; width:50px; text-align:center; padding:5px; border:1px solid #eee; margin-right:5px; }
.tabs ul li.current { background-color: skyblue; font-weight:bold; border: 1px solid skyblue; }
#content .tabscontent .current { display:block;  }
#content .tabcontent { display:none; clear:both; }

#content { padding:15px; }
#content section { float:left; }
#content .cat { width:300px; }
#content .colors { }
#content .colors .table tbody tr:hover td { background-color:#fff; }


footer { clear:left; display:block; padding: 30px 50px; background-color:#f7f7f7; }

/*bootstrap override*/
header .navbar-inner { border-radius:0; }