a { text-decoration:none; }
ul { margin:0; }
li { list-style:none; }

#container { min-width:950px; min-height:550px; }

header {}

#content { max-width:1200px; margin-left:auto; margin-right:auto; }

.tabs ul li { float:left; width:50px; text-align:center; padding:3px 5px; border:1px solid #eee; border-bottom:none; border-top-right-radius:8px; }
.tabs ul li.current { background-color: skyblue; font-weight:bold; border: 1px solid skyblue; }
#content .tabcontent { clear:both; padding-left:10px; padding-bottom:10px; box-shadow:10px 15px 10px #808080; }
#content .tabcontent { border:1px solid #e1e1e1; border-top-right-radius:7px; border-bottom-left-radius:7px; border-bottom-right-radius:7px; margin-top:-1px; }
#content .tabcontent ul li { position:relative; display:inline-block; min-width:50px; height:30px; padding:5px 5px 5px 0; font-size:8px; }
#content .tabcontent ul li:hover { background-color:#F5F5DC; }
#content .tabcontent ul li.selected { font-weight:bold; }
#content .tabcontent span.c { position:absolute; bottom:0; left:0; width:30px; height:20px; }



#content { padding:15px; }
#content section { float:left; }
#content .cat { width:300px; margin-right:25px; }
#content .colors { }



/* Cat Photo */
#catphoto span { width:130px; height:130px; display:block; padding:20px 50px; }
#catphoto .cat1 { background:url('/static/images/cat.gif') no-repeat center; }
#catphoto .cat2 { background:url('/static/images/cat2.gif') no-repeat center; }
#catphoto .cat3 { background:url('/static/images/cat3.gif') no-repeat center; }
#catphoto .cat4 { background:url('/static/images/cat4.gif') no-repeat center; }

footer { clear:left; display:block; padding: 30px 50px; background-color:#f7f7f7; }

/*bootstrap override*/
header .navbar-inner { border-radius:0; }