* { font-family:Tahoma, Geneva, sans-serif; }
body { background-color:#F7FFFF; }
a { text-decoration:none; }
ul { margin:0; }
li { list-style:none; }

#container {}

header {}

#content { width:950px; min-height:550px; margin-left:auto; margin-right:auto; background-color:#fff; margin-bottom:18px; border-radius:5px; box-shadow:0 0 20px #ccc; }

.tabs { height:24px; border-bottom:1px solid #f1f1f1; margin-right:4px; }
.tabs ul li { color:#999; float:left; width:50px; text-align:center; padding:3px 5px; border:1px solid #e1e1e1; border-top-right-radius:8px; border-bottom:none; background-color:#fcfcfc; }
.tabs ul li.current { color:#333; border-bottom:1px solid #fff; text-shadow:#555 0.1em 0.1em 0.1em; background-color:#fff; }
#content .tabscontent { clear:both; padding-left:10px; padding-bottom:10px; box-shadow:10px 15px 10px #808080; }
#content .tabscontent { border:1px solid #e1e1e1;border-top:none; border-top-right-radius:7px; border-bottom-left-radius:7px; border-bottom-right-radius:7px; /*margin-top:-1px;*/ }
#content .tabcontent ul li { position:relative; display:inline-block; min-width:50px; height:30px; padding:0 5px 5px 0; font-size:8px; }
#content .tabcontent span.c { position:absolute; bottom:0; left:0; width:40px; height:30px; box-shadow:2px 2px 2px #808080; }
#content .tabcontent ul li.selected span.c { box-shadow:4px 4px 4px #606060; width:43px; height:32px; }
#content li.selected span.shirt, #content li.selected span.tie { text-shadow:#000 0.1em 0.1em 0.2em; color:#fff; font-size:1.9em; line-height:2em; }
#content .tabcontent ul li.selected span.shirt:before { content:"S"; margin-left:10px; }
#content .tabcontent ul li.selected span.tie:after { content:"T"; float:right; margin-right:10px; }

#content { padding:25px; }
#content section { float:left; }
#content .cat { margin:50px; }
#content .colors { }


/* Cat Photo */
#catphoto { position:relative; padding:30px; box-shadow:0 0 7px 0 #c7cccc inset; border:3px double #c7cccc; background-color:#fff; }
#catphoto .cat_bg { position:relative; display:block; width:160px; background-color:#fff; background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#ffffff), to(#000)); }
#catphoto span.shirt { width:130px; height:130px; display:block; padding:10px 30px; }
#catphoto span.tie { width:130px; height:30px; display:block; padding:0px 50px; } /* class name TODO */
#catphoto .cat1 { background:url('/static/images/cat.gif') no-repeat center; }
#catphoto .cat2 { background:url('/static/images/cat2.gif') no-repeat center; }
#catphoto .cat3 { background:url('/static/images/cat3.gif') no-repeat center; }
#catphoto .cat4 { background:url('/static/images/cat4.gif') no-repeat center; }

/* Tie */
#tie_block { position:absolute; top:81px; left:55px; }
#tie_block span { position:absolute; border-style:solid; }
#tie_block .outer { left:-1px; border-color:#888 transparent; }
#tie_block span { border-color:#fff transparent; }
#tie_block .tie_top_outer { width:12px; border-width:10px 5px 0 5px; left:4px; }
#tie_block .tie_center_outer { width:12px; height:10px; border-width:0 10px 30px 10px; }
#tie_block .tie_bottom_outer { top:40px; border-width:16px 16px 0 16px; }
#tie_block .tie_top { width:10px; border-width:10px 5px 0 5px; left:5px; }
#tie_block .tie_center { width:10px; height:10px; border-width:0 10px 30px 10px; }
#tie_block .tie_bottom { top:40px; border-width:15px 15px 0 15px; }

/* Color Labels */
.cat .color_label { font-size:11px; text-shadow:1px 1px 1px #ddd; margin-top:10px; margin-left:10px; }
.cat .color_label span { display:inline-block; width:70px; height:20px; font-style:italic; }

footer { clear:left; display:block; padding: 30px 50px; background-color:#f7f7f7; }

/*bootstrap override*/
header .navbar-inner { border-radius:0; }

/* google +1 */
#nk_gplus { float:right; }